@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css');

h1,
p {
  font-family: Lato;
}

.mm-toolbar img {
  display: inline;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.19);
  z-index: 1000;
  margin: 10px 0;
}

.button-color-1 {
  color: white;
  background-color: rgb(43, 25, 102);
}

.button-color-2 {
  color:  rgb(43, 25, 102);
  background-color: white;
}


button:hover {
  color:  rgb(255, 255, 255);
  background-color: rgb(239, 137, 101);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}